.profile_img{
    width: 400px;
    height: auto;
    pointer-events: none;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}
.hero img{
    margin-top: -110px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
    margin-top: -200px;

}
.hero h1 span{
    background:linear-gradient(267deg, #da7c25 0.36%,#b923e1 102.06%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-top: -15px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: -20px;
}
.hero-connect{
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%,#b923e1 102.06%);
    cursor: pointer;
}
.hero-resume{
    padding: 15px 65px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume:hover{
    border-color: #b923e1;

}
@media(max-width:768px){
    .hero img{
        margin-top: -60px;
        width: 400px;
    }
    .hero h1{
        margin-top: -120px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;

    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}