.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 60px 100px;
  
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 200px;
    height: auto;
}
.about-sections{
    display: flex;
    gap: 80px;

}
.about-sections img{
    width: 300px;
    height: auto;

}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 18px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.about-skill{
    display:flex ;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 18px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50px;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%,#b923e1 102.06%);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievemant{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
}
.about-achievemant h1{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(267deg, #da7c25 0.36%,#b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.about-achievemant p{
    font-size: 15px;
    font-weight: 500;

}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievemant:hover{
    transform: scale(1.12);
    transition: 0.5s;
    cursor: pointer;
}
@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;

    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievemant{
        gap: 10px;
    }
    .about-achievemant h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievemant p{
        font-size: 16px ;
        text-align: center;
    }
}