.footer-top-left img{
    width: 100px;
    height: auto;
    margin-top: -50px;
}
.footer{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 18px;
    max-width: 500px;
    margin-top: -40px;

}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-top-right img{
    width: 20px;
    height: auto;
    filter: invert(1) brightness(2);
}
.footer-email-input{
    display: flex;
    gap: 20px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 50px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%,#b923e1 102.06%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-subscribe:hover{
     transform: scale(1.05);
    transition: 0.4s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border:2px solid #fff;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}